@import url("reset.css");
@import url("../font/font.css");
@import url("modal.css");
@import url("header.css");
@import url("visual.css");
@import url("about.css");
@import url("business.css");
@import url("footer.css");
/* 공통영역 */
.inner{
    width: 95%;
    max-width: 1420px;
    margin: auto;
    background-color: red;
}